.viewContainerQuestionnss{
display: flex;
    width: 90vw;
    max-width: 800px;
    height: 90vh;
    padding: 15px;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    background-color: white;
    flex-direction: column;
    overflow: scroll;
}

.centersssfrv{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    width: 100%;
    height: 300vh;
}
.vniugoaucospbrv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    padding: 50px;
    width: 100%;

}
.vniasyuvbapjcpeoi{
    cursor: pointer;
}

.vniuasrbvisbrv{
    padding: 50px;
    height: 40px;
    width: 100%;
}
.h2spacinfagr{
    padding: 40px;
    text-align: center;
}
.nvjlraisuv{
    padding: 10px;
    width: 400px;
    height: 50px;
}
.divavalafgvr{
    cursor: pointer;
}
.avnbisurgoa{
    font-weight: bold;
}
.divavalafgvrAA{
    cursor: pointer;
    color:white;
    background-color: #707070;

    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    border-radius: 100%;
    font-weight: bold;
}
.asvnoarivfhcor0tjpew{
    padding-top: 30px;
    flex-direction: column;
    height: 140px;
    width: 80%;
}

.bcuoahsvoyuvvtasbp{
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}
.submcviuas{
    padding: 20px;
}
.rerered{
    width: 80%;
    height: 15%;
    background-color: #4BD38A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: flex;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.rerered:hover{
    background-color: red;
}



#customers2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    max-width: 90%;
  }
  
  #customers2 td, #customers2 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .tdaaadvr{
      display: flex;
        align-items: flex-end;
        flex-direction: row;
      width: 60%;
  }

  .fsrgtashj{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10rem;
    height: 100%;
    justify-content: space-around;
  }
  
  #customers2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #E5E5E5;
    color: #707070;
  }

  


@media screen and (max-width: 400px) {
    #customers2 {
        width: 100%;
    }
      
    .asvnoarivfhcor0tjpew{
        width: 100%;
    }
    .rowss{
        width: 100%;
    }
}