body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
html{
  background-color:#378183;
}
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
    
  
  .App{
      display:flex;
      width: 100vw;
      min-height: 100vh;
      max-height: auto;
      padding: 0px;
      margin: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color:#378183;
      box-sizing: border-box;
      justify-items: center;
      align-items: center;
      justify-content: center;
  
  }