.viewContainehgxjhcy{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 90vw;
    max-width: 800px;
    min-height: 100vh;
    max-height: auto;
    background-color: white;
    flex-direction: column;
    /* overflow: scroll; */
}

@media print {
    @page {
        margin: 20px;
      border: 20px;
    }
    .viewContainehgxjhcy, .viewContainehgxjhcy * {
      visibility: visible;
      
    }
    .viewContainehgxjhcy{
      page-break-after:auto;
      display: flex;

      align-items: center;
      justify-content: center;
    }
    .bcuoahsvoyuvvtasbp{
      line-height:45px !important;
    }
  }
  
.App2{
    display:flex;
    width: 100vw;
    min-height: 230vh;
    max-height: auto;
    padding: 0px;
    margin: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color:#378183;
    box-sizing: border-box;
    justify-items: center;
    align-items:flex-start;
    justify-content: center;

}
.vrsv4{
    width: 80%;
    text-align: center;
    padding: 20px;
}